
doctype html
html
  head
    title= title
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/singleproject.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/projectaddCSS.css')
    link(href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Spectral" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet")
    script(src='/javascripts/singleproject.js')

    
  body
    .container#mainbar  
      nav
        .sticky-top.navbar-expand-lg.navbar-light
          .d-flex.bd-highlight
            a.p-2.pl-4.navbar-brand#brand(href="/") CodeBuddy

            .p-2.flex-grow-1.bd-highlight.nav-item.col-12-sm
            
            a.p-2.col-12-sm.nav-link(href="/") Home
  
            a.p-2.col-12-sm.nav-link(href="/login") Login

            //a.p-2.bd-highlight.nav-item.col-12-sm.nav-link(href="/signup") SignUp       

            a.p-2.pr-4.bd-highlight.nav-item.col-12-sm.nav-link(href="/projectadd") Add Project   
          
      block content